.window-titlebar {
  position: absolute;
  height: 32px;
  top: -5px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background-color: #080b1300;
  width: 100%;
  -webkit-app-region: drag;
  user-select: none;
}

.window-bar {
  font-size: 13px;
  color: #ffffff00;
  opacity: 0.85;
  width: 100%;
}

.window-titlebar button,
.window-titlebar a,
.window-titlebar input {
  -webkit-app-region: no-drag;
}
