.container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.golden-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 99vw;
  position: relative;
}

.golden-border::before {
  content: '';
  position: absolute;
  top: 7.5%;
  right: 7.5%;
  bottom: 7.5%;
  left: 7.5%;
  border: 2px solid #c5a059;
  box-shadow: 
      0 0 0 1px #b38b45,
      inset 0 0 0 1px #b38b45;
  pointer-events: none;
}

.golden-border::after {
  content: '';
  position: absolute;
  top: calc(7.5% + 8px);
  right: calc(7.5% + 8px);
  bottom: calc(7.5% + 8px);
  left: calc(7.5% + 8px);
  border: 1px solid #c5a059;
  pointer-events: none;
}

.arch-wrapper {
  position: relative;
  width: min(90vw, 90vh);
  aspect-ratio: 1 / 1;
}

.arch-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay-boxes {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
  top: 10%;
}


.overlay-small {
  width: 30%;
  height: 12%;
  background: #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-large {
  width: 45%;
  height: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  color: #000000;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid #ffd900be;
  width: 90%;
  height: 90%;
  padding: 5%;
  overflow-y: auto;
}

h1 {
  font-size: clamp(1.3rem, 5.2vw, 3rem);
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 0 16px 0;
  color: #000000;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #FFC400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 8px 16px;
  justify-content: start;
  width: 100%;
  padding-bottom: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  font-weight: 700;
}

.active-prayer {
  font-weight: 700;
  color: #F5F5DC;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.loading-text {
  text-align: center;
  font-style: italic;
  color: #FFD700;
}

.icon {
  display: block;
  margin: 0 auto 16px auto;
  color: #FFD700;
}